In [2]:
student_list = [("Gabriel Vázquez", 29, 1.75), ("Leonardo Sánchez", 24, 1.82), ("Piero Termini", 25, 1.71), ("Marta Buesa", 35, 1.66), ("Silvia Pasinato", 37, 1.63), ("Faro Zamani", 29, 1.90), ('Miguel Nievas', 27, 1.80), ("Alejandro Medina", 28, 1.70), ("Cristina Martínez", 32, 1.60), ("Francisco Palma", 36, 1.74), ("Jorge Duque", 45, 1.72), ("Jesús Llanes", 41, 1.65), ("Luis Pech", 18, 1.71), ("Marta Gómez", 30, 1.65), ("Jennifer Sanchez", 40, 1.60), ("Diego Isla", 39, 1.80), ("Nuria Brocar", 35, 1.75), ("Antonio Campaña", 23, 1.77), ("Isabella Schindowski", 34, 1.60), ("Juan Maniglia", 32, 1.75), ("David Suárez", 27, 1.70), ("Antonio Jiménez", 34, 1.80), ("Carlos Hernández", 27, 1.77), ("Erik Urresta", 28, 1.70), ("Marcos Lobo", 35, 1.80), ("Natalia Fernandez", 31, 1.70)]

print(student_list)
#import random
#random.choice(student_list)

[('Gabriel Vázquez', 29, 1.75), ('Leonardo Sánchez', 24, 1.82), ('Piero Termini', 25, 1.71), ('Marta Buesa', 35, 1.66), ('Silvia Pasinato', 37, 1.63), ('Faro Zamani', 29, 1.9), ('Miguel Nievas', 27, 1.8), ('Alejandro Medina', 28, 1.7), ('Cristina Martínez', 32, 1.6), ('Francisco Palma', 36, 1.74), ('Jorge Duque', 45, 1.72), ('Jesús Llanes', 41, 1.65), ('Luis Pech', 18, 1.71), ('Marta Gómez', 30, 1.65), ('Jennifer Sanchez', 40, 1.6), ('Diego Isla', 39, 1.8), ('Nuria Brocar', 35, 1.75), ('Antonio Campaña', 23, 1.77), ('Isabella Schindowski', 34, 1.6), ('Juan Maniglia', 32, 1.75), ('David Suárez', 27, 1.7), ('Antonio Jiménez', 34, 1.8), ('Carlos Hernández', 27, 1.77), ('Erik Urresta', 28, 1.7), ('Marcos Lobo', 35, 1.8), ('Natalia Fernandez', 31, 1.7)]

In [14]:
gabriel = "Gabriel Vázquez"
Miguel = "Miguel Nievas"
cristina = "Cristina Martínez"
leo = "Leonardo Sánchez"

lista_nombres_profes = [gabriel, Miguel, cristina, leo]

# 1. eliminar las tuplas que contengan a los 4 profesores de la lista de
# estudiantes a partir del nombre
# 2. crear una lista que contenga solo los nombres de los alumnos

# CASA

In [4]:
# Ocurre el problema de eliminar el elemento en la misma posición en la que está el bucle.

for student_tupla in student_list:
    nombre = student_tupla[0]
    if nombre in lista_nombres_profes:  # Si nombre está en la 'lista_nombres_profes'
        print(student_tupla)
        student_list.remove(student_tupla)
print(student_list)

('Gabriel Vázquez', 29, 1.75)
('Miguel Nievas', 27, 1.8)
('Cristina Martínez', 32, 1.6)
[('Leonardo Sánchez', 24, 1.82), ('Piero Termini', 25, 1.71), ('Marta Buesa', 35, 1.66), ('Silvia Pasinato', 37, 1.63), ('Faro Zamani', 29, 1.9), ('Alejandro Medina', 28, 1.7), ('Francisco Palma', 36, 1.74), ('Jorge Duque', 45, 1.72), ('Jesús Llanes', 41, 1.65), ('Luis Pech', 18, 1.71), ('Marta Gómez', 30, 1.65), ('Jennifer Sanchez', 40, 1.6), ('Diego Isla', 39, 1.8), ('Nuria Brocar', 35, 1.75), ('Antonio Campaña', 23, 1.77), ('Isabella Schindowski', 34, 1.6), ('Juan Maniglia', 32, 1.75), ('David Suárez', 27, 1.7), ('Antonio Jiménez', 34, 1.8), ('Carlos Hernández', 27, 1.77), ('Erik Urresta', 28, 1.7), ('Marcos Lobo', 35, 1.8), ('Natalia Fernandez', 31, 1.7)]

In [5]:
for student_tupla in student_list:
    nombre = student_tupla[0]
    if nombre == gabriel or nombre == miguel or nombre == cristina or nombre == leo:
        print(student_tupla)

('Leonardo Sánchez', 24, 1.82)

In [6]:
lista = ["A", "C", "G", 67]

for pos, elem in enumerate(lista):
    print("pos:", pos)
    print()
    if elem == "A" or elem == "G":
        lista.remove(elem)

print(lista)

pos: 0

pos: 1

['C', 67]

In [7]:
lista = ["A", "C", "G", 67]

if "A" in lista:
    print(True)
else:
    print(False)

True

In [15]:
# ejercicio: eliminar a los 4 profes de la lista completa
gabriel = "Gabriel Vázquez"
Miguel = "Miguel Nievas"
cristian = "Cristina Martínez"
leo = "Leonardo Sánchez"

lista_nombres_profes = [gabriel, Miguel, cristian, leo]

for profe in lista_nombres_profes:
    if profe == Miguel:
        continue
    print(lista_nombres_profes)

['Gabriel Vázquez', 'Miguel Nievas', 'Cristina Martínez', 'Leonardo Sánchez']
['Gabriel Vázquez', 'Miguel Nievas', 'Cristina Martínez', 'Leonardo Sánchez']
['Gabriel Vázquez', 'Miguel Nievas', 'Cristina Martínez', 'Leonardo Sánchez']

In [6]:
lista = ["ana", "maria", "juan"]

a_mostrar = ""
for elem in lista:
    a_mostrar += elem
    if elem != lista[-1]:
        a_mostrar += ","
a_mostrar

'ana,maria,juan'

In [10]:
lista_estudiantes_sin_profes[]
for persona_tupla in student_list:
    if not (persona_tupla[0] in lista_nombres_profes):
        lista_estudiantes_sin_profes.appened(persona_tupla)

SyntaxError: invalid syntax (Temp/ipykernel_4724/3596432140.py, line 1)