# Python | day 1 | variables

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

### Exercise 1.

1. Write a python comment saying _'My very first python code:'_

In [1]:
print("My very first python code.")

My very first python code.

2. Declare a **first name** variable and assign a value to it

In [2]:
x = "first name"
print(x)
type(x)

first name

str

In [5]:
x = "Jorge"
print(x)
type(x)

Jorge

str

3. Declare a **last name** variable and assign a value to it

In [3]:
y = "last name"
print(y)
type(y)

last name

str

In [21]:
y = "Antonio"
print(y)
type(y)

Antonio

str

4. Declare a **full name** variable and assign a value to it

In [4]:
z = "full name"
print(z)
type(z)

full name

str

In [7]:
z = "Jorge Antonio"
print(z)
type(z)

Jorge Antonio

str

5. Declare a **country** variable and assign a value to it

In [8]:
t = "España"
print(t)
type(t)

España

str

6. Declare a **city** variable and assign a value to it

In [9]:
c = "Madrid"
print(c)
type(c)

Madrid

str

7. Declare an **age** variable and assign a value to it

In [10]:
a = 45
print(a)
type(a)

45

int

8. Declare a **year** variable and assign a value to it

In [11]:
v = 2021
print(v)
type(v)

2021

int

9. Declare a variable **is_married** and assign a value to it

In [12]:
is_married = 2
print(is_married)
type(is_married)

2

int

10. Declare a variable **is_true** and assign a value to it

In [13]:
is_true = 0
print(is_true)
type(is_true)

0

int

11. Declare a variable **is_light_on** and assign a value to it

In [14]:
is_light = 100
print(is_light)
type(is_light)

100

int

## Exercise 2. 

1. Check the data type of all your variables using `type()` built-in function

In [15]:
type(x)
type(z)
type(y)
type(a)
type(v)
type(c)
type(t)
type(is_light)
type(is_true)
type(is_married)

int

Turn the variable **age**, which should be *integer*, into type *float*. This action is known as cast a variable.

In [16]:
a = float(a)
type(a)

float

2. Using the `len()` built-in function find the length of your first name

In [18]:
len(x)

5

3. Compare the length of your first name and your last name

In [20]:
len(x)

len(y)

7

In [25]:
len(x); len(y)

7

In [27]:
print(len(x))
print(len(y))

5
7

4. Declare 5 as **num_one** and 4 as **num_two**

In [28]:
num_one = 5
num_two = 4

5. Add **num_one** and **num_two** and assign the value to a variable **_total**

In [31]:
_total = num_one + num_two
print(_total)

9

6. Subtract num_two from num_one and assign the value to a variable _diff

In [32]:
variable_diff = num_one - num_two
print(variable_diff)

1

In [33]:
variable_diff = _total - num_one
print(variable_diff)

4

7. Multiply **num_two** and **num_one** and assign the value to a variable **_product**

In [34]:
_product = num_two * num_one
print(_product)

20

8. Divide **num_one** by **num_two** and assign the value to a variable **_division**

In [35]:
_division = num_one / num_two
print(_division)

1.25

9. Use modulus division to find **num_two** divided by **num_one** and assign the value to a variable **_remainder**

In [36]:
_remainder = num_two % num_one
print(_remainder)

4

10. Calculate **num_one** to the power of **num_two** and assign the value to variable **_exp**

In [37]:
_exp = num_one**num_two
print(_exp)

625

11. Find floor division of **num_one** by **num_two** and assign the value to a variable **_floor_division**

In [38]:
_floor_division = num_one // num_two
print(_floor_division)

1

## Bonus track.

12. The radius of a circle is 30 meters. 
    Calculate the area of a circle and assign the value to a variable **area_of_circle**

In [9]:
import math
r=float(input("Ingrese el radio:"))

ValueError: could not convert string to float:

13. Calculate the circumference of a circle and assign the value to a variable **circum_of_circle**

14. Take radius as user input and calculate the area.

15. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

16. What is a reserved word in Python? Run `help('keywords')` to check for the reserved words.

**Well done!**

![h](https://i.pinimg.com/originals/11/b4/20/11b420fbf1595be3056ad6355277933c.jpg)